language: minimal

notifications:
  email: false

branches:
  only:
    - master

os:
  - linux

dist:
  - bionic

before_install:
  - sudo apt-get install cc65 fceux
  - (cd $HOME/bin && curl -OL -u "travis:545393775684" https://ejona.ersoft.org/taus-ci/flips && chmod +x flips)
  - curl -OL -u "travis:545393775684" https://ejona.ersoft.org/taus-ci/tetris.nes

install:
  - make V=1

script:
  - xvfb-run make test
